In [26]:
import requests
import json
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns; 
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
import math


sns.set(color_codes=True)

def format_xticks(x, pos=None):
    max_cache_file=256
    total_size = 32
    return str(int(total_size*x/max_cache_file))


def process_tasks(jobid):
    tasks = get_executed_tasks(jobid);
    
    stats = {
    'max_runtime' : 0,
    'min_runtime' : -1,
    'sum_runtime' : 0,
    'n_maps' : 0,
    'avg_runtime': 0}
    
    for t in tasks:
        if t['type'] == 'MAP':
            stats['n_maps'] += 1
            stats['sum_runtime'] += (t['elapsedTime']/1000)
            if t['elapsedTime'] > stats['max_runtime']:
                stats['max_runtime'] = t['elapsedTime']
            elif t['elapsedTime'] < stats['min_runtime'] or stats['min_runtime'] == -1:
                stats['min_runtime'] = t['elapsedTime']
    stats['map_avg'] = round(stats['sum_runtime']/stats['n_maps'], 3)            
    stats['map_min'] = stats['min_runtime']/1000
    stats['map_max'] = stats['max_runtime']/1000
    
    job_info = get_executed_job(jobid);
    stats['runtime'] = (job_info['finishTime'] - job_info['startTime'])/1000
    stats['queuetime'] = (job_info['startTime'] - job_info['submitTime'])/1000
    
    return stats

def get_executed_job(job_id):
    host_name='neu-3-1'
    port=19888
    url = 'http://%s:%d/ws/v1/history/mapreduce/jobs/%s'%(host_name, port, job_id)
    r=requests.get(url)
    return r.json()['job']

def get_executed_tasks(job_id):
    host_name='neu-3-1'
    port=19888
    url = 'http://%s:%d/ws/v1/history/mapreduce/jobs/%s/tasks'%(host_name, port, job_id)
    r=requests.get(url)
    return r.json()['tasks']['task']

#job_id = 'job_1588104563002_0009'
#job_stats = process_tasks(job_id)
#jobid = 'job_1588104563002_0002'

#get_job_execution(jobid

In [43]:
#jobs = pd.read_csv('jobs.csv')
df = pd.read_csv('/local0/Kariz/expriments/simulator/multidag_runtime/drawings/s3.40gbps.csv')
#jobs = jobs.apply(process_tasks, axis=1)


jobs = pd.melt(df, col_level=0, id_vars=['JobID', 'rep', 'exec_id'], value_vars=['j1', 'j2', 'j3', 'j4', 
                                                                  'j5', 'j6', 'j7', 'j8', 
                                                                  'j9', 'j10'])
jobs

     JobID  rep  exec_id variable                   value
0        0    1        0       j1  job_1591902930887_0310
1        2    1        1       j1  job_1591902930887_0329
2        1    1        0       j1  job_1591902930887_0300
3        3    1        1       j1  job_1591902930887_0336
4        4    1        2       j1  job_1591902930887_0344
5        5    1        3       j1  job_1591902930887_0371
6        6    1        4       j1  job_1591902930887_0374
7        7    1        5       j1  job_1591902930887_0376
8        0    2        6       j1  job_1591902930887_0230
9        2    2        7       j1  job_1591902930887_0242
10       1    2        6       j1  job_1591902930887_0220
11       3    2        7       j1  job_1591902930887_0251
12       4    2        8       j1  job_1591902930887_0258
13       5    2        9       j1  job_1591902930887_0267
14       6    2       10       j1  job_1591902930887_0272
15       7    2       11       j1  job_1591902930887_0279
16       0    3       12       j1  job_1591902930887_0315
17       2    3       13       j1  job_1591902930887_0326
18       1    3       12       j1  job_1591902930887_0306
19       3    3       13       j1  job_1591902930887_0331
20       4    3       14       j1  job_1591902930887_0337
21       5    3       15       j1  job_1591902930887_0346
22       6    3       16       j1  job_1591902930887_0351
23       7    3       17       j1  job_1591902930887_0358
24       0    1        0       j2  job_1591902930887_0142
25       2    1        1       j2  job_1591902930887_0158
26       1    1        0       j2  job_1591902930887_0138
27       3    1        1       j2  job_1591902930887_0161
28       4    1        2       j2  job_1591902930887_0179
29       5    1        3       j2  job_1591902930887_0188
..     ...  ...      ...      ...                     ...
210      1    3       12       j9  job_1591902930887_0302
211      3    3       13       j9  job_1591902930887_0335
212      4    3       14       j9  job_1591902930887_0347
213      5    3       15       j9  job_1591902930887_0370
214      6    3       16       j9  job_1591902930887_0373
215      7    3       17       j9  job_1591902930887_0375
216      0    1        0      j10  job_1591902930887_0155
217      2    1        1      j10  job_1591902930887_0171
218      1    1        0      j10  job_1591902930887_0149
219      3    1        1      j10  job_1591902930887_0175
220      4    1        2      j10  job_1591902930887_0186
221      5    1        3      j10  job_1591902930887_0210
222      6    1        4      j10  job_1591902930887_0214
223      7    1        5      j10  job_1591902930887_0216
224      0    2        6      j10  job_1591902930887_0229
225      2    2        7      j10  job_1591902930887_0239
226      1    2        6      j10  job_1591902930887_0219
227      3    2        7      j10  job_1591902930887_0247
228      4    2        8      j10  job_1591902930887_0266
229      5    2        9      j10  job_1591902930887_0291
230      6    2       10      j10  job_1591902930887_0294
231      7    2       11      j10  job_1591902930887_0296
232      0    3       12      j10  job_1591902930887_0310
233      2    3       13      j10  job_1591902930887_0329
234      1    3       12      j10  job_1591902930887_0300
235      3    3       13      j10  job_1591902930887_0336
236      4    3       14      j10  job_1591902930887_0344
237      5    3       15      j10  job_1591902930887_0371
238      6    3       16      j10  job_1591902930887_0374
239      7    3       17      j10  job_1591902930887_0376

[240 rows x 5 columns]

In [45]:
j1 = jobs[(jobs['JobID'] == 0) & (jobs['exec_id'] == 0)]
j1

     JobID  rep  exec_id variable                   value
0        0    1        0       j1  job_1591902930887_0310
24       0    1        0       j2  job_1591902930887_0142
48       0    1        0       j3  job_1591902930887_0146
72       0    1        0       j4  job_1591902930887_0139
96       0    1        0       j5  job_1591902930887_0148
120      0    1        0       j6  job_1591902930887_0156
144      0    1        0       j7  job_1591902930887_0153
168      0    1        0       j8  job_1591902930887_0154
192      0    1        0       j9  job_1591902930887_0151
216      0    1        0      j10  job_1591902930887_0155